<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>ConsumerServlet</servlet-name>
    <servlet-class>com.wjc.webiter.ConsumerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>com.wjc.webiter.VoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiscussServlet</servlet-name>
    <servlet-class>com.wjc.webiter.DiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoSerlvet</servlet-name>
    <servlet-class>com.wjc.webiter.PhotoSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.wjc.webiter.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RestoreServlet</servlet-name>
    <servlet-class>com.wjc.webiter.RestoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerServlet</servlet-name>
    <url-pattern>/ConsumerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiscussServlet</servlet-name>
    <url-pattern>/DiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoSerlvet</servlet-name>
    <url-pattern>/PhotoSerlvet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestoreServlet</servlet-name>
    <url-pattern>/RestoreServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>