<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javen.dao.IBookDao">
	<resultMap id="BaseResultMap" type="com.javen.model.Book">
		<id column="bid" property="bid" jdbcType="INTEGER" />
		<id column="sid" property="sid" jdbcType="INTEGER" />
		<id column="nowsid" property="nowsid" jdbcType="INTEGER" />
		<id column="statu" property="statu" jdbcType="INTEGER" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="bname" property="bname" jdbcType="VARCHAR" />
		<result column="sumary" property="sumary" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="isbn" property="isbn" jdbcType="VARCHAR" />
	</resultMap>


	

	<update id="update" >
		update book
		set nowsid = #{0},
		statu = #{1}
		where bid = #{2}
	</update>


	<select id="search" resultMap="BaseResultMap">
		SELECT * FROM book where nowsid = #{0}
	</select>
	
	<select id="searchGJZ" resultMap="BaseResultMap">
		SELECT * FROM book where bname like concat('%',#{0},'%')  
	</select>
	
	<select id="isJie" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT * FROM book where bid = #{0}
	</select>
	
	






</mapper>